.choices{
    display:flex;
    flex-direction:column;
    flex:0 0 100px;
    justify-content: center;
    align-items:center;
    width:100px;
}
.message{
    text-align: center;
}
.centerDisplay
{
    margin:10px 20px;
    flex:1 0 200px;
}
.title{
    font-size:36px;

    justify-self:center;
}
button{
    flex:0 0 100px;
    height: 100px;
    width:100px;
    transition:1s;
}

.selected{
    scale:1.1;
    border-width:3px;
}
.content{
    display:flex;
    flex-direction:row;
    Justify-content:space-between;
}
body {
    display:flex;
    flex-direction: column;
}
.scoreBoard{
    min-width:200px;
    display:flex;
    justify-content: space-around;
}
*{
    border:2px solid black;
}